<%= form_with(model: event, class: "event-form") do |form| %>
  <% if event.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="form-field">
    <%= form.label :tematics %>
    <%= form.select(:tematics, options_for_select(Event::TEMATICS_TYPES)) %>
  </div>

  <div class="form-field">
    <%= form.label :time %>
    <%= form.datetime_local_field :time %>
  </div>

  <div class="form-actions">
    <%= form.submit %>
  </div>
<% end %>