<div>
  <%= render '/layouts/nav_links' %>
  <p class="notice"><%= notice %></p>

  <h1>My events</h1>

  <div id="events">
    <% @events.each do |event| %>
      <div class="event-card">
        <h2><%= event.name %></h2>
        <p><strong>Date:</strong> <%= event.time %></p>
        <p><strong>Address:</strong> <%= event.address %></p>

        <div class="actions">
          <%= button_to "Open", event_path(event), :method => :get, :id => "openbtn" %>
          <%= link_to "Edit", edit_event_path(event) %>
          <%= button_to "Delete", event, method: :delete, :id => "deletebtn" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= button_to "Create new event", new_event_path, :method => :get, style: "background-color: #007bff; padding: 8px 16px" %>
</div>