<div id="<%= dom_id address %>">
  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= address.region %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Building number:</strong>
    <%= address.building_number %>
  </p>

  <p>
    <strong>Additional info:</strong>
    <%= address.additional_info %>
  </p>

</div>
